.menu {
  counter-reset: itemCounter;
}

.menu .menu_item {
  font-size: 1.25em;
  font-weight: 500;
  margin: 3em 0;
  padding-left: 0.5em;
  color: #32343c;
}

.menu .menu_item:first-child {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(2) {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(3) {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(4) {
  --menu-item-color:#9437ff;
}
