.menu {
  counter-reset: itemCounter;
  position: relative;
  z-index: 10;
}

.menu_item {
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 1em 0;
  outline: none;
}

.menu_item-name,
.menu_item-label {
  position: relative;
  display: inline-block;
}

.menu_item-name {
  font-size: 1.25em;
}

.menu_item-label {
  margin: 0 0 0 0.5em;
}

.menu .menu_item {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  margin: 3em 0;
  padding-left: 0.5em;
  color: #32343c;
}

.menu .menu_item:first-child {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(2) {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(3) {
  --menu-item-color:#9437ff;
}

.menu .menu_item:nth-child(4) {
  --menu-item-color:#9437ff;
}

.menu .menu_item-name {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0 0 0;
  white-space: pre;
  text-transform: lowercase;
}

.menu .menu_item-name::before,
.menu .menu_item-name::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  widht: 2.5em;
  height: 4px;
  background: #ddd;
}

.menu .menu_item-name::after {
  background: var(--menu-item-color);
  transform: scale3d(0,1,1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;
}

.menu .menu_item:hover .meu_item-name::after,
.menu .menu_item:focus .menu_item::after {
  transform: scale3d(1,1,1,);
}

.menu .menu_item-name span {
  display: inline-block;
}
