/* General */

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg,
img { display: block; }
::webkit-scrollbar { display: none; }

/* Titles and text styling */

h1 {
  font-size: 1.25em;
}
h2 {
  font-size: 1em;
}
h1,
h2 {
  margin-bottom: .5em;
  font-weight: 500;
  line-height: 1;
}
p {
  font-size: 24px;
  line-height: 28px;
}
a {
  color: #3772ff;
  text-decoration: none;
  outline: none;
  transition: color .15s;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
}
a:hover,
a:focus {
  color: #6d98ff;
  outline: none;
}

/* Fade effect */

body {
  opacity: 0;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}
body.render { opacity: 1; }

/* Design elements */

.page-wrapper { }
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 30px;
}
.frame {
  margin: 0 auto;
  max-width: 800px;
  padding: 150px 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .container { padding: 0; }
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  float: none;
}
.table-right { width: 33.333%; }
.table-left { width: 66.666%; }
@media screen and (max-width: 768px) {
  .table-cell { display: block; }
  .table-left,
  .table-right {
    width: 100%;
    text-align: center;
  }
}
.full { width: 100%; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

/* Header, title and navbar */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .header {
    position: relative;
    height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .header { margin-bottom: 20px; }
}
.nav {
  display: block;
  text-align: right;
}
.nav_item {
  position: relative;
  margin: 1em 0;
  display: inline-block;
  line-height: 1;
}
.nav_item-label {
  position: relative;
  display: inline-block;
}
.nav .nav_item {
  padding-left: .5em;
  color: #32343c;
}
.nav .nav_item-label {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 0 0 0;
  font-size: 1.25em;
  font-weight: 500;
  text-transform: lowercase;
  white-space: pre;
}
.nav .nav_item:first-child { --menu-item-color:#9437ff; }
.nav .nav_item:nth-child(2) { --menu-item-color:#ff84fd; }
.nav .nav_item:nth-child(3) { --menu-item-color:#6cccff; }
@media screen and (max-width: 768px) {
  .nav {
    padding: 0;
    text-align: center;
  }
  .nav_item { display: block; }
  .nav .nav_item-label {
    display: block;
    padding: 0 0 0 0;
  }
}

/* Content */

.content { color: #000 }

.post { margin-bottom: 1.5em; }

/* Stream Player */

#streamPlayer {
  display: block;
  padding: 200px 0 100px;
  background-color: #5cb435;
}
#streamStateLabel {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}
#streamPlayerControls {
  margin: auto;
  display: flex;
  width: 200px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}
.play-pause-btn {
  display: block;
  cursor: pointer;
}
.spinner {
  display: none;
  width: 83px;
  height: 83px;
  background-image: url(/radio/img/spinner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin .7s linear infinite;
}
@keyframes spin {
  from { transform: rotateZ(0); }
  to { transform: rotateZ(1turn); }
}
.volume { position: relative; }
.volume-btn { cursor: pointer; }
.offline { content: 'OFFLINE'; }

@media screen and (max-width: 768px) {
  #streamPlayer { padding: 100px 20px 100px; }
}

/* Archive Player */

.archivePlayer {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #3772ff;
}
.archivePlayerControls {
  margin: auto;
  display: flex;
  width: 200px;
  padding: 20px 20px;
  justify-content: space-between;
}
.play-btn { cursor: pointer; }
.dl-btn { cursor: pointer; }
iframe {
  opacity: 0;
  animation: fade .8s ease-in forwards;
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* About */

#about { }
.info { }
.social {
  padding: 40px 80px 60px;
  font-size: .8em;
}
.social li {
  display: inline-block;
  padding: 2px;
  list-style: none;
}
.social li:before { }
@media screen and (max-width: 768px) {
  .social { padding: 40px 0 0; }
  .social li {
    display: block;
    text-align: center;
  }
}
/* Footer */

.footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 3em;
  padding-top: 3em;
  font-size: .8em;
}
@media screen and (max-width: 768px) {
  .footer { display: none; }
}
